@model ToDoList.Model.Tarefa

<h2>Cadastro</h2>

<form asp-action="Create">
    <div class="form-horizontal">

        <h4>Tarefa</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Descricao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DataTerminoPlanejado" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataTerminoPlanejado" class="form-control" />
                <span asp-validation-for="DataTerminoPlanejado"></span>
            </div>
        </div>
        <hr/>
        <div id="div-interessados">
            @Html.Partial("Interessado")
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Voltar</a>
</div>
