@model ToDoList.Model.Tarefa

<h2>Edição</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        
        <h4>Tarefa</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Descricao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descricao" class="form-control"/>
                <span asp-validation-for="Descricao"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DataTerminoPlanejado" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataTerminoPlanejado" asp-format="{0:dd/MM/yyyy HH:mm}" class="form-control" />
                <span asp-validation-for="DataTerminoPlanejado"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome"></span>
            </div>
            <label asp-for="Email" class="col-md-1 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Voltar</a>
</div>
